<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Astro Basics</title>
        <meta name="title" content="MrEll3n Portfolio" />
        <meta
            name="description"
            content="Portfolio and personal websito of MrEll3n - CS student, amature voice actor and musician"
        />
        <meta name="keywords" content="Portfolio, Personal, Website" />
        <meta name="robots" content="index, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="author" content="MrEll3n" />
    </head>
</html>

<body>
    <slot />
</body>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
