---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="m-0 p-0 w-full h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>MrEll3n Portfolio</title>
        <meta name="title" content="MrEll3n Portfolio" />
        <meta
            name="description"
            content="Portfolio and personal website of MrEll3n - CS student, amateur voice actor and musician"
        />
        <meta name="keywords" content="Portfolio, Personal, Website" />
        <meta name="robots" content="index, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="author" content="MrEll3n" />

        <!-- Google Fonts: JetBrains Mono -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="m-0 w-full h-full">
        <slot />
    </body>
</html>
